@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  overflow-y: scroll;
}

.full-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.safe-space {
  padding-top: 7rem;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  .safe-space {
    padding-top: 0;
  }
  main {
    padding-bottom: 0 !important;
  }
}

main {
  @apply !max-w-5xl m-auto px-8 pb-16 lg:pb-56;
}

.nuxt-content img {
  max-height: 50vh !important;
}

.nuxt-content a {
  text-decoration: none;
}
.nuxt-content a:hover {
  text-decoration: underline;
}
